body {
  text-align: center;
  font-family: sans-serif;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("./images/hometown.png");
  background-size: cover;
}
/* span {
  display: block;
} */
h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  /* color: #ffffff;
  background: #1d3557;
  border-radius: 10px;
  padding: 0 20px;
  margin-bottom: 20px; */
}
h2 {
  background: #457b9d;
  border-radius: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  padding: 10px 50px;
}
h2 span {
  margin-top: 10px;
}

.Activity-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #f1faee;
  height: 50vh;
}

h3 {
  font-size: 30px;
  margin-bottom: 30px;
}
* {
  margin: 0 auto;
}
